# Node.js
fronttier/node_modules/
fronttier/dist/

# Spring Boot
midtier/protected/

# SSL Certificates

# Logs
*.log
#
# Terraform
.terraform/
*.tfstate
*.tfstate.backup
crash.log
# Environment and secrets
.env
.env.*

# IDE/editor files
.vscode/
.idea/
.DS_Store
